# --- Estructura del proyecto ---
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Variables de entorno ###
.env

### Docker locales (Opcional pero recomendado) ###
# Si cambias el volumen de Postgres a una carpeta local (Bind Mount), descomenta la siguiente línea:
# /data_postgres/

### IDE local (OpenBPM Studio) ###
openbpm-studio.xml
